In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# Se importan las librerias necesarias para aplicar las funciones
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder

In [26]:
# Lectura del dataset que contiene los datos 
df= pd.read_parquet('/content/drive/MyDrive/ML Projects/test.parquet', engine= 'pyarrow') #test

##Completando datos nulos

In [4]:
df.isnull().sum()

id                             0
url                            0
region                         0
region_url                     0
type                           0
sqfeet                         0
beds                           0
baths                          0
cats_allowed                   0
dogs_allowed                   0
smoking_allowed                0
wheelchair_access              0
electric_vehicle_charge        0
comes_furnished                0
laundry_options             7855
parking_options            14005
image_url                      0
description                    0
lat                          196
long                         196
state                          0
dtype: int64

### Laundry_Options

In [5]:
#Vamos a reemplazar los valores nulos de laundry por la moda segun el tipo de unidad , para el caso de que existan 2 elegimos una sola.
df.groupby(['type'])['laundry_options'].agg(pd.Series.mode)

type
apartment        w/d in unit
condo            w/d in unit
cottage/cabin    w/d in unit
duplex           w/d hookups
flat             w/d in unit
house            w/d hookups
in-law           w/d in unit
loft             w/d in unit
manufactured     w/d hookups
townhouse        w/d in unit
Name: laundry_options, dtype: object

In [27]:
df.fillna({'type': 'apartment', 'laundry_options': 'w/d in unit'}, inplace=True)
df.fillna({'type': 'assisted living', 'laundry_options': 'laundry on site'}, inplace=True)
df.fillna({'type': 'condo', 'laundry_options': 'w/d in unit'}, inplace=True)
df.fillna({'type': 'cottage/cabin', 'laundry_options': ' w/d in unit'}, inplace=True)
df.fillna({'type': 'duplex', 'laundry_options': 'w/d hookups'}, inplace=True)
df.fillna({'type': 'flat', 'laundry_options': ' w/d in unit'}, inplace=True)
df.fillna({'type': 'house ', 'laundry_options': 'w/d hookups'}, inplace=True)
df.fillna({'type': 'in-law', 'laundry_options': ' w/d in unit'}, inplace=True)
df.fillna({'type': 'land', 'laundry_options': 'laundry on site'}, inplace=True)
df.fillna({'type': 'loft', 'laundry_options': 'w/d in unit'}, inplace=True)
df.fillna({'type': 'manufactured', 'laundry_options': 'w/d hookups'}, inplace=True)
df.fillna({'type': 'townhouse', 'laundry_options': ' w/d in unit'}, inplace=True)

### Parking_options

In [7]:
#Vamos a reemplazar los valores nulos de laundry por la moda segun el tipo de unidad , para el caso de que existan 2 elegimos una sola.
df.groupby(['type'])['parking_options'].agg(pd.Series.mode)

type
apartment        off-street parking
condo            off-street parking
cottage/cabin    off-street parking
duplex           off-street parking
flat             off-street parking
house               attached garage
in-law           off-street parking
loft             off-street parking
manufactured     off-street parking
townhouse        off-street parking
Name: parking_options, dtype: object

In [28]:
df.fillna({'type': 'apartment', 'parking_options': 'off-street parking'}, inplace=True)
df.fillna({'type': 'assisted living', 'parking_options': 'off-street parking'}, inplace=True)
df.fillna({'type': 'condo', 'parking_options': 'off-street parking'}, inplace=True)
df.fillna({'type': 'cottage/cabin', 'parking_options': 'off-street parking'}, inplace=True)
df.fillna({'type': 'duplex', 'parking_options': 'off-street parking'}, inplace=True)
df.fillna({'type': 'flat', 'parking_options': 'off-street parking'}, inplace=True)
df.fillna({'type': 'house ', 'parking_options': 'attached garage'}, inplace=True)
df.fillna({'type': 'in-law', 'parking_options': 'off-street parking'}, inplace=True)
df.fillna({'type': 'land', 'parking_options': 'off-street parking'}, inplace=True)
df.fillna({'type': 'loft', 'parking_options': 'off-street parking'}, inplace=True)
df.fillna({'type': 'manufactured', 'parking_options': 'off-street parking'}, inplace=True)
df.fillna({'type': 'townhouse', 'parking_options': 'off-street parking'}, inplace=True)

### Latitud y Longitud

In [29]:
# Ordenamos el dataframe por la columna regi√≥n , latitud y longitud para luego llenar los nulos con el valor del registro anterior
df.sort_values(by=['region'], inplace=True, ascending=True , ignore_index= True)
df.lat.fillna(method="ffill", inplace=True)
df.long.fillna(method="ffill", inplace=True)

In [11]:
df.isnull().sum()

id                         0
url                        0
region                     0
region_url                 0
type                       0
sqfeet                     0
beds                       0
baths                      0
cats_allowed               0
dogs_allowed               0
smoking_allowed            0
wheelchair_access          0
electric_vehicle_charge    0
comes_furnished            0
laundry_options            0
parking_options            0
image_url                  0
description                0
lat                        0
long                       0
state                      0
dtype: int64

##Columnas

In [30]:
#Eliminamos las columnas por no representar informaci√≥n relevante para el modelo.  
df.drop(['id','url','region_url', 'image_url'], inplace=True, axis= 1)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38498 entries, 0 to 38497
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   region                   38498 non-null  object
 1   type                     38498 non-null  object
 2   sqfeet                   38498 non-null  int64
 3   beds                     38498 non-null  int64
 4   baths                    38498 non-null  float64
 5   cats_allowed             38498 non-null  int64
 6   dogs_allowed             38498 non-null  int64
 7   smoking_allowed          38498 non-null  int64
 8   wheelchair_access        38498 non-null  int64
 9   electric_vehicle_charge  38498 non-null  int64
 10  comes_furnished          38498 non-null  int64
 11  laundry_options          38498 non-null  object
 12  parking_options          38498 non-null  object
 13  description              38498 non-null  object
 14  lat                      38498 non-null  float64
 15  long                     38498 non-null  float64
 16  state                    38498 non-null  object
dtypes: float64(3), int64(8), object(6)
memory usage: 5.0+ MB

In [31]:
#Consideramos un error de tipeo a los n√∫meros decimales , razon por la cual modificamos el tipo de dato a entero
df['baths'] = df['baths'].astype('int64')

## Variables Categoricas a num√©ricas

In [32]:
#Eliminamos las columnas de variables categoricas que no usaremos  
df.drop(['region','description'], inplace=True, axis= 1)

In [33]:
# Definimos qu√© columnas ser√°n "dummificadas"
# Cada clave del diccionario equivale a un nombre de columna
# `prefix` es el prefijo que se a√±adir√° a cada columna dummy
# `sep` especifica el caracter separador de los elementos de la celda
dummy_columns = {
    'type': {
        'prefix': 'type',
        'sep': ';'
    },
    'laundry_options': {
        'prefix': 'laundry',
        'sep': ';'
    },
      'parking_options': {
        'prefix': 'parking',
        'sep': ';'
    },
    'state': {
        'prefix': 'state',
        'sep': ';'
    },
}

for column_name, dummy_data in dummy_columns.items():
	# creamos un DataFrame con una columna dummy por cada valor
    dummies = df[column_name].str.get_dummies(sep=dummy_data['sep'])

    # A√±adimos prefijo a cada columna
    dummies.columns = map(lambda col: f'{dummy_data["prefix"]}_{col}', dummies.columns)
    
    # A√±adimos las columnas dummy al df original
    df = pd.concat([df, dummies], axis=1)

# Eliminamos las columnas originales de df
df = df.drop(columns=dummy_columns.keys())

In [17]:
#Como vemos todas las variables son num√©ricas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38498 entries, 0 to 38497
Data columns (total 84 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   sqfeet                      38498 non-null  int64
 1   beds                        38498 non-null  int64
 2   baths                       38498 non-null  int64
 3   cats_allowed                38498 non-null  int64
 4   dogs_allowed                38498 non-null  int64
 5   smoking_allowed             38498 non-null  int64
 6   wheelchair_access           38498 non-null  int64
 7   electric_vehicle_charge     38498 non-null  int64
 8   comes_furnished             38498 non-null  int64
 9   lat                         38498 non-null  float64
 10  long                        38498 non-null  float64
 11  type_apartment              38498 non-null  int64
 12  type_condo                  38498 non-null  int64
 13  type_cottage/cabin          38498 non-null  int64
 14  type_duplex                 38498 non-null  int64
 15  type_flat                   38498 non-null  int64
 16  type_house                  38498 non-null  int64
 17  type_in-law                 38498 non-null  int64
 18  type_loft                   38498 non-null  int64
 19  type_manufactured           38498 non-null  int64
 20  type_townhouse              38498 non-null  int64
 21  laundry_laundry in bldg     38498 non-null  int64
 22  laundry_laundry on site     38498 non-null  int64
 23  laundry_no laundry on site  38498 non-null  int64
 24  laundry_w/d hookups         38498 non-null  int64
 25  laundry_w/d in unit         38498 non-null  int64
 26  parking_attached garage     38498 non-null  int64
 27  parking_carport             38498 non-null  int64
 28  parking_detached garage     38498 non-null  int64
 29  parking_no parking          38498 non-null  int64
 30  parking_off-street parking  38498 non-null  int64
 31  parking_street parking      38498 non-null  int64
 32  parking_valet parking       38498 non-null  int64
 33  state_ak                    38498 non-null  int64
 34  state_al                    38498 non-null  int64
 35  state_ar                    38498 non-null  int64
 36  state_az                    38498 non-null  int64
 37  state_ca                    38498 non-null  int64
 38  state_co                    38498 non-null  int64
 39  state_ct                    38498 non-null  int64
 40  state_dc                    38498 non-null  int64
 41  state_de                    38498 non-null  int64
 42  state_fl                    38498 non-null  int64
 43  state_ga                    38498 non-null  int64
 44  state_hi                    38498 non-null  int64
 45  state_ia                    38498 non-null  int64
 46  state_id                    38498 non-null  int64
 47  state_il                    38498 non-null  int64
 48  state_in                    38498 non-null  int64
 49  state_ks                    38498 non-null  int64
 50  state_ky                    38498 non-null  int64
 51  state_la                    38498 non-null  int64
 52  state_ma                    38498 non-null  int64
 53  state_md                    38498 non-null  int64
 54  state_me                    38498 non-null  int64
 55  state_mi                    38498 non-null  int64
 56  state_mn                    38498 non-null  int64
 57  state_mo                    38498 non-null  int64
 58  state_ms                    38498 non-null  int64
 59  state_mt                    38498 non-null  int64
 60  state_nc                    38498 non-null  int64
 61  state_nd                    38498 non-null  int64
 62  state_ne                    38498 non-null  int64
 63  state_nh                    38498 non-null  int64
 64  state_nj                    38498 non-null  int64
 65  state_nm                    38498 non-null  int64
 66  state_nv                    38498 non-null  int64
 67  state_ny                    38498 non-null  int64
 68  state_oh                    38498 non-null  int64
 69  state_ok                    38498 non-null  int64
 70  state_or                    38498 non-null  int64
 71  state_pa                    38498 non-null  int64
 72  state_ri                    38498 non-null  int64
 73  state_sc                    38498 non-null  int64
 74  state_sd                    38498 non-null  int64
 75  state_tn                    38498 non-null  int64
 76  state_tx                    38498 non-null  int64
 77  state_ut                    38498 non-null  int64
 78  state_va                    38498 non-null  int64
 79  state_vt                    38498 non-null  int64
 80  state_wa                    38498 non-null  int64
 81  state_wi                    38498 non-null  int64
 82  state_wv                    38498 non-null  int64
 83  state_wy                    38498 non-null  int64
dtypes: float64(2), int64(82)
memory usage: 24.7 MB

## Escalado

In [34]:
#Decidimos aplicar a las variables num√©ricas del dataset StandardScaler
from sklearn.preprocessing import StandardScaler
 
sc = StandardScaler()
cols = ['sqfeet', 'lat', 'long','beds', 'baths']
df[cols] = sc.fit_transform(df[cols])

Insertar nuevas filas no agregadas por la transformaci√≥n

In [35]:
df.insert(13,'type_assisted living','0')
df.insert(20,'type_land','0')

In [36]:
df['type_assisted living'].fillna(0)
df['type_land'].fillna(int(0))

0        0
1        0
2        0
3        0
4        0
        ..
38493    0
38494    0
38495    0
38496    0
38497    0
Name: type_land, Length: 38498, dtype: object

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38498 entries, 0 to 38497
Data columns (total 86 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   sqfeet                      38498 non-null  float64
 1   beds                        38498 non-null  float64
 2   baths                       38498 non-null  float64
 3   cats_allowed                38498 non-null  int64
 4   dogs_allowed                38498 non-null  int64
 5   smoking_allowed             38498 non-null  int64
 6   wheelchair_access           38498 non-null  int64
 7   electric_vehicle_charge     38498 non-null  int64
 8   comes_furnished             38498 non-null  int64
 9   lat                         38498 non-null  float64
 10  long                        38498 non-null  float64
 11  type_apartment              38498 non-null  int64
 12  type_condo                  38498 non-null  int64
 13  type_assisted living        38498 non-null  object
 14  type_cottage/cabin          38498 non-null  int64
 15  type_duplex                 38498 non-null  int64
 16  type_flat                   38498 non-null  int64
 17  type_house                  38498 non-null  int64
 18  type_in-law                 38498 non-null  int64
 19  type_loft                   38498 non-null  int64
 20  type_land                   38498 non-null  object
 21  type_manufactured           38498 non-null  int64
 22  type_townhouse              38498 non-null  int64
 23  laundry_laundry in bldg     38498 non-null  int64
 24  laundry_laundry on site     38498 non-null  int64
 25  laundry_no laundry on site  38498 non-null  int64
 26  laundry_w/d hookups         38498 non-null  int64
 27  laundry_w/d in unit         38498 non-null  int64
 28  parking_attached garage     38498 non-null  int64
 29  parking_carport             38498 non-null  int64
 30  parking_detached garage     38498 non-null  int64
 31  parking_no parking          38498 non-null  int64
 32  parking_off-street parking  38498 non-null  int64
 33  parking_street parking      38498 non-null  int64
 34  parking_valet parking       38498 non-null  int64
 35  state_ak                    38498 non-null  int64
 36  state_al                    38498 non-null  int64
 37  state_ar                    38498 non-null  int64
 38  state_az                    38498 non-null  int64
 39  state_ca                    38498 non-null  int64
 40  state_co                    38498 non-null  int64
 41  state_ct                    38498 non-null  int64
 42  state_dc                    38498 non-null  int64
 43  state_de                    38498 non-null  int64
 44  state_fl                    38498 non-null  int64
 45  state_ga                    38498 non-null  int64
 46  state_hi                    38498 non-null  int64
 47  state_ia                    38498 non-null  int64
 48  state_id                    38498 non-null  int64
 49  state_il                    38498 non-null  int64
 50  state_in                    38498 non-null  int64
 51  state_ks                    38498 non-null  int64
 52  state_ky                    38498 non-null  int64
 53  state_la                    38498 non-null  int64
 54  state_ma                    38498 non-null  int64
 55  state_md                    38498 non-null  int64
 56  state_me                    38498 non-null  int64
 57  state_mi                    38498 non-null  int64
 58  state_mn                    38498 non-null  int64
 59  state_mo                    38498 non-null  int64
 60  state_ms                    38498 non-null  int64
 61  state_mt                    38498 non-null  int64
 62  state_nc                    38498 non-null  int64
 63  state_nd                    38498 non-null  int64
 64  state_ne                    38498 non-null  int64
 65  state_nh                    38498 non-null  int64
 66  state_nj                    38498 non-null  int64
 67  state_nm                    38498 non-null  int64
 68  state_nv                    38498 non-null  int64
 69  state_ny                    38498 non-null  int64
 70  state_oh                    38498 non-null  int64
 71  state_ok                    38498 non-null  int64
 72  state_or                    38498 non-null  int64
 73  state_pa                    38498 non-null  int64
 74  state_ri                    38498 non-null  int64
 75  state_sc                    38498 non-null  int64
 76  state_sd                    38498 non-null  int64
 77  state_tn                    38498 non-null  int64
 78  state_tx                    38498 non-null  int64
 79  state_ut                    38498 non-null  int64
 80  state_va                    38498 non-null  int64
 81  state_vt                    38498 non-null  int64
 82  state_wa                    38498 non-null  int64
 83  state_wi                    38498 non-null  int64
 84  state_wv                    38498 non-null  int64
 85  state_wy                    38498 non-null  int64
dtypes: float64(5), int64(79), object(2)
memory usage: 25.3+ MB

In [38]:
# convertir string a integer
df['type_assisted living'] = df['type_assisted living'].astype(int)
df['type_land'] = df['type_land'].astype(int)

In [ ]:
df.info()

##Dataset Final

In [24]:
df.to_csv('df_test_final.csv')