In [42]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [43]:
# Se importan las librerias necesarias para aplicar las funciones
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
# Lectura del dataset que contiene los datos 
df= pd.read_parquet('/content/drive/MyDrive/ML Projects/test.parquet', engine= 'pyarrow') #test

##Completando datos nulos

In [46]:
df.isnull().sum()

id                             0
url                            0
region                         0
region_url                     0
type                           0
sqfeet                         0
beds                           0
baths                          0
cats_allowed                   0
dogs_allowed                   0
smoking_allowed                0
wheelchair_access              0
electric_vehicle_charge        0
comes_furnished                0
laundry_options             7855
parking_options            14005
image_url                      0
description                    0
lat                          196
long                         196
state                          0
dtype: int64

### Laundry_Options

In [ ]:
#Vamos a reemplazar los valores nulos de laundry por la moda segun el tipo de unidad , para el caso de que existan 2 elegimos una sola.
df.groupby(['type'])['laundry_options'].agg(pd.Series.mode)

In [47]:
df.fillna({'type': 'apartment', 'laundry_options': 'w/d in unit'}, inplace=True)
df.fillna({'type': 'assisted living', 'laundry_options': 'laundry on site'}, inplace=True)
df.fillna({'type': 'condo', 'laundry_options': 'w/d in unit'}, inplace=True)
df.fillna({'type': 'cottage/cabin', 'laundry_options': ' w/d in unit'}, inplace=True)
df.fillna({'type': 'duplex', 'laundry_options': 'w/d hookups'}, inplace=True)
df.fillna({'type': 'flat', 'laundry_options': ' w/d in unit'}, inplace=True)
df.fillna({'type': 'house ', 'laundry_options': 'w/d hookups'}, inplace=True)
df.fillna({'type': 'in-law', 'laundry_options': ' w/d in unit'}, inplace=True)
df.fillna({'type': 'land', 'laundry_options': 'laundry on site'}, inplace=True)
df.fillna({'type': 'loft', 'laundry_options': 'w/d in unit'}, inplace=True)
df.fillna({'type': 'manufactured', 'laundry_options': 'w/d hookups'}, inplace=True)
df.fillna({'type': 'townhouse', 'laundry_options': ' w/d in unit'}, inplace=True)

### Parking_options

In [49]:
#Vamos a reemplazar los valores nulos de laundry por la moda segun el tipo de unidad , para el caso de que existan 2 elegimos una sola.
df.groupby(['type'])['parking_options'].agg(pd.Series.mode)

type
apartment        off-street parking
condo            off-street parking
cottage/cabin    off-street parking
duplex           off-street parking
flat             off-street parking
house            off-street parking
in-law           off-street parking
loft             off-street parking
manufactured     off-street parking
townhouse        off-street parking
Name: parking_options, dtype: object

In [48]:
df.fillna({'type': 'apartment', 'parking_options': 'off-street parking'}, inplace=True)
df.fillna({'type': 'assisted living', 'parking_options': 'off-street parking'}, inplace=True)
df.fillna({'type': 'condo', 'parking_options': 'off-street parking'}, inplace=True)
df.fillna({'type': 'cottage/cabin', 'parking_options': 'off-street parking'}, inplace=True)
df.fillna({'type': 'duplex', 'parking_options': 'off-street parking'}, inplace=True)
df.fillna({'type': 'flat', 'parking_options': 'off-street parking'}, inplace=True)
df.fillna({'type': 'house ', 'parking_options': 'attached garage'}, inplace=True)
df.fillna({'type': 'in-law', 'parking_options': 'off-street parking'}, inplace=True)
df.fillna({'type': 'land', 'parking_options': 'off-street parking'}, inplace=True)
df.fillna({'type': 'loft', 'parking_options': 'off-street parking'}, inplace=True)
df.fillna({'type': 'manufactured', 'parking_options': 'off-street parking'}, inplace=True)
df.fillna({'type': 'townhouse', 'parking_options': 'off-street parking'}, inplace=True)

### Latitud y Longitud

In [50]:
# Decidimos completar los valores de Latitud y Longitud
from sklearn.impute import KNNImputer

# Crea un objeto KNNImputer
imputer = KNNImputer(n_neighbors=3)

# Aplica la interpolaci√≥n a las columnas 'lat' y 'long'
df[['lat', 'long']] = imputer.fit_transform(df[['lat', 'long']])

In [51]:
df.isnull().sum()

id                         0
url                        0
region                     0
region_url                 0
type                       0
sqfeet                     0
beds                       0
baths                      0
cats_allowed               0
dogs_allowed               0
smoking_allowed            0
wheelchair_access          0
electric_vehicle_charge    0
comes_furnished            0
laundry_options            0
parking_options            0
image_url                  0
description                0
lat                        0
long                       0
state                      0
dtype: int64

##Columnas

In [52]:
#Eliminamos las columnas por no representar informaci√≥n relevante para el modelo.  
df.drop(['id','url','region_url', 'image_url'], inplace=True, axis= 1)

In [ ]:
df.info()

In [53]:
#Consideramos un error de tipeo a los n√∫meros decimales , razon por la cual modificamos el tipo de dato a entero
df['baths'] = df['baths'].astype('int64')

## Variables Categoricas a num√©ricas

In [54]:
#Eliminamos las columnas de variables categoricas que no usaremos  
df.drop(['region','description','state'], inplace=True, axis= 1)

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38498 entries, 0 to 38497
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   type                     38498 non-null  object
 1   sqfeet                   38498 non-null  int64
 2   beds                     38498 non-null  int64
 3   baths                    38498 non-null  int64
 4   cats_allowed             38498 non-null  int64
 5   dogs_allowed             38498 non-null  int64
 6   smoking_allowed          38498 non-null  int64
 7   wheelchair_access        38498 non-null  int64
 8   electric_vehicle_charge  38498 non-null  int64
 9   comes_furnished          38498 non-null  int64
 10  laundry_options          38498 non-null  object
 11  parking_options          38498 non-null  object
 12  lat                      38498 non-null  float64
 13  long                     38498 non-null  float64
dtypes: float64(2), int64(9), object(3)
memory usage: 4.1+ MB

##Dataset Final

In [58]:
df.to_csv('df_test_final.csv')